body {
    width: 100%;
    height: 100%;
}

header {
    .header-bar {
        height: 128px;
        width: 100%;
        background: #E76C1F;
        display: flex;
        align-items: center;
    }
    .header-wrapper {
        width: 100%;
        max-width: 1440px;
        display: flex;
        justify-content: space-between;
        .logo-bestellapp {
        height: 40px;
        width: 95px;
        }
        .menu-logo {
            height: 45px;
            width: 35px;
        }
        padding: 0px 45px 0px 120px;
    }
    .Hero {
        height: 760px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .home-hero {
            height: 500px;
            width: 100%;
            object-fit: cover;
            object-position: bottom;
            top: 60px;
        }
        .hero-burger {
            height: 200px;
            width: 200px;
            border: 13px solid white;
            border-radius: 100%;
            position: fixed;
            top: 500px;
        }
        .restaurant-descr {
            height: 105px;
            margin-top: 70px;
            display: flex;
            align-items: center;
            display: flex;
            flex-direction: column;
        }
        .burger-house-text {
            height: 75px;
            display: flex;
            align-items: center;
            gap: 26px;
        }
        .restaurant-descr img {
            height: 32px;
            width: 110px;
        }
        .burger-house {
            font-size: 48px;
            font-family: 'Palanquin Dark';
            font-style: bold;
            font-weight: 700;
            line-height: 120%;
        }

        .Hero-p {
            font-size: 24px;
            font-family: 'Palanquin Dark';
            font-style: normal;
            font-weight: 700;
        }
    }
}

footer {
    height: 128px;
    width: 100%;
    background: #E76C1F;
    display: flex;
    justify-content: center;
    align-items: center;
        position: absolute;
        bottom: 0;
    .footer-text {
        height: 24px;
        width: 540px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
    }
}