.basket-wrapper {
    width: 100%;
    max-width: 440px;
    flex: 1;
    margin-left: auto;
}

.empty-basket {
    color: #fdeadc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 60px;
    padding-top: 65px;
    border-top-left-radius: 5px;
    h2 {
        font-size: 32px;
        font-family: "Palanquin";
        font-style: normal;
        font-weight: 700;
    }
    p {
        font-size: 24px;
    }
    img {
        height: 128px;
        width: 128px;
    }
}

.basket {
    width: 100%;
    min-width: 430px;
    min-height: 790px;
    max-height: 100%;
    background: #363534;
    position: sticky;
    top: 0;
    right: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .basket-h2 {
        font-size: 32px;
        color: #fdeadc;
        font-family: "Palanquin";
        font-style: normal;
        font-weight: 700;
        padding: 65px 0px 35px 0px;
    }
}

.basket-card-wrapper {
    max-height: 1358px;
    overflow-y: auto;
    --sbtrack-color: rgb(255, 255, 255, 0);
    --sb-thumb-color: #fdeadc;
    --sb-size: 10px;
}

.basket-card-wrapper::-webkit-scrollbar {
    width: var(--sb-size);
}

.basket-card-wrapper::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 8px;
}

.basket-card-wrapper::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 8px;
}

@supports not selector(::::-webkit-scrollbar) {
    .basket-card-wrapper {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

.basket-card {
    height: fit-content;
    width: 340px;
    background: #fdeadc;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;
    padding: 20px;
}

.dish-name-basket {
    display: flex;
    justify-content: space-between;
    h2 {
        width: 250px;
        font-size: 22px;
        font-family: "Palanquin";
        font-style: normal;
        font-weight: 700;
    }
    img {
        height: 25px;
        width: 25px;
        margin-top: 10px;
        color: black;
    }
    img:hover {
        width: 25px;
        background-color: white;
        color: #e76c1f;
    }
}

.basket-amount-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket-amount-calc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: "Palanquin";
    font-style: normal;
    font-weight: 600;
    gap: 2px;
    .plus-btn {
        border: none;
        background: #fdeadc;
        font-size: 24px;
        font-family: "Palanquin";
        font-style: normal;
        font-weight: 600;
    }
    .minus-btn {
        border: none;
        background: #fdeadc;
        font-size: 24px;
        font-family: "Palanquin";
        font-style: normal;
        font-weight: 600;
    }
}

.item-total-price {
    font-size: 22px;
    font-family: "Palanquin";
    font-style: normal;
    font-weight: 700;
}

.calc-price-basket {
    width: 340px;
    text-align: center;
    .subtotal,
    .delivery-fee,
    .total {
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        color: white;
        padding: 8px 10px;
    }
    .delivery-fee-underline {
        width: 340px;
        height: 2px;
        background: #fdeadc;
    }
    .buy-btn {
        background: #e76c1f;
        color: white;
        width: 320px;
        height: 60px;
        font-size: 32px;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
        margin-top: 32px;
        margin-bottom: 50px;
    }
}
