.Hero {
    height: 700px;
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-hero {
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    margin-top: -140px;
    z-index: 1;
}

.hero-burger {
    width: clamp(100px, calc(73.684px + 8.772vw), 200px);
    border: 13px solid #fdeadc;
    border-radius: 100%;
    transform: translateY(-65%);
    z-index: 2;
}

.restaurant-descr {
    height: 105px;
    margin-top: -120px;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1200px) {
    .restaurant-descr {
        padding-top: 20px;
    }
}

@media screen and (max-width: 740px) {
    .restaurant-descr {
        padding-top: 40px;
    }
}

.burger-house-text {
    height: 75px;
    display: flex;
    gap: 26px;
}

.restaurant-descr img {
    height: 32px;
    width: 110px;
    margin-top: 19px;
}

.burger-house {
    font-size: 48px;
    font-family: "Palanquin Dark";
    font-style: bold;
    font-weight: 700;
    line-height: 120%;
}

.Hero-p {
    font-size: 24px;
    font-family: "Palanquin";
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
