.home-hero {
    height: clamp(330px, calc(285.263px + 14.912vw), 500px);
    width: 100%;
    object-fit: cover;
    object-position: bottom left;
    z-index: 1;
}

@media screen and (max-width: 660px) {
    .home-hero {
        border-radius: 16px;
    }
}

.dish-card-img {
    width: 350px;
    border-radius: 12px;
    object-fit: cover;
}

@media screen and (max-width: 740px) {
    .dish-card-img {
        height: 86px;
        width: 100%;
    }
}
