.order-content {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    .order-content {
        margin: 0px 0px 80px 0px;
    }
}

.categories::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: calc(100% - 1px);
    width: 100vw;
    background-color: #e76c1f;
}

.categories {
    height: 60px;
    width: 100%;
    background: #e76c1f;
    display: flex;
    align-items: center;
    gap: 28px;
    padding-left: clamp(25px, calc(13.158px + 3.947vw), 70px);
    z-index: -1;
}

@media screen and (max-width: 660px) {
    .categories {
        flex-direction: column;
        align-items: center;
        justify-content: end;
        padding: 0;
        gap: 0;
    }
}

.categories::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(100% - 1px);
    width: 100vw;
    background-color: #e76c1f;
    transform: translateX(0);
}

.name-categories {
    font-size: 40px;
    color: white;
    font-family: "Palanquin";
    font-style: normal;
    font-weight: bold;
    font-weight: 700;
}

@media screen and (max-width: 660px) {
    .name-categories {
        font-size: 32px;
    }
}

.aside-category-name {
    font-family: "Palanquin";
    font-style: normal;
    font-weight: 400;
}

@media screen and (max-width: 400px) {
    .aside-category-name {
        display: none;
    }
}

.dishesContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 20px;
}

@media screen and (max-width: 740px) {
    .dishContainer {
        padding: 0px 20px;
    }
}

@media screen and (max-width: 660px) {
    .dishesContainer {
        padding-bottom: 70px;
    }
}

.dish-card {
    height: 140px;
    width: 700px;
    background: #fdeadc;
    border-radius: 12px;
    display: flex;
    gap: 16px;
    padding: 10px;
}

@media screen and (max-width: 740px) {
    .dish-card {
        height: 270px;
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
}

.dish-name-price-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 500px) {
    .dish-name-price-wrapper {
        flex-direction: column;
        line-height: 120%;
        gap: 50px;
    }
}

.dish-name {
    height: 70px;
    display: flex;
    flex-direction: column;
    h3 {
        font-size: 24px;
        font-family: "Palanquin";
        font-style: SemiBold;
        font-weight: 600;
    }
    p {
        font-size: 16px;
        font-family: "Palanquin";
        font-style: Medium;
        font-weight: 500;
    }
}

@media screen and (max-width: 500px) {
    .dish-name {
        gap: 8px;
    }
}

.price-add-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    p {
        font-size: 24px;
        font-family: "Palanquin";
        font-style: normal;
        font-weight: 600;
    }
}

@media screen and (max-width: 500px) {
    .price-add-wrapper {
        flex-direction: row;
    }
}

.add-button-dish-card {
    height: 30px;
    width: 40px;
    font-size: 25px;
    border-color: black;
    border-radius: 10px;
    color: black;
}

.add-button-dish-card:hover {
    border-color: #e76c1f !important;
    color: #e76c1f !important;
    cursor: pointer;
}
