.order-content {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    padding-left: clamp(0px, 10vw, 170px);
    padding-right: clamp(0px, 5vw, 40px);
    gap: clamp(12px, 3vw, 40px);
}

.categories::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: calc(100% - 1px);
    width: 100vw;
    background-color: #e76c1f;
}

.categories {
    height: 60px;
    width: 100%;
    background: #e76c1f;
    display: flex;
    align-items: center;
    gap: 28px;
    padding-left: 170px;
    z-index: -1;
}

.categories::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(100% - 1px);
    width: 100vw;
    background-color: #e76c1f;
    transform: translateX(0);
}

.name-categories {
    font-size: 40px;
    color: white;
    font-family: "Palanquin";
    font-style: normal;
    font-weight: bold;
    font-weight: 700;
}

.aside-category-name {
    font-family: "Palanquin";
    font-style: normal;
    font-weight: 400;
}

.dishesContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* padding: 20px 170px 45px 120px; */
    padding: 20px clamp(0px, calc(-44.737px + 14.912vw), 170px) 45px 120px;
}

.dish-card {
    height: 140px;
    width: 700px;
    background: #fdeadc;
    border-radius: 12px;
    display: flex;
    gap: 16px;
    padding: 10px;
}

.dish-name-price-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dish-name {
    height: 70px;
    display: flex;
    flex-direction: column;
    h3 {
        font-size: 24px;
        font-family: "Palanquin";
        font-style: SemiBold;
        font-weight: 600;
    }
    p {
        font-size: 16px;
        font-family: "Palanquin";
        font-style: Medium;
        font-weight: 500;
    }
}

.price-add-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    p {
        font-size: 24px;
        font-family: "Palanquin";
        font-style: normal;
        font-weight: 600;
    }
}

.add-button-dish-card {
    height: 30px;
    width: 40px;
    font-size: 25px;
    border-color: black;
    border-radius: 10px;
    color: black;
}

.add-button-dish-card:hover {
    border-color: #e76c1f !important;
    color: #e76c1f !important;
}
